@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Header  */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    background-color: royalblue;
}

header h1 {
    text-transform: uppercase;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header ul li {
    margin-right: 3em;
}

/* Hero  */

#hero {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

#hero div {
    margin-top: 3%;
}

#hero div h2 {
    font-size: 42px;
    letter-spacing: 3px;
}

#hero div ul {
    font-size: 2em;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

#hero div ul li {
    padding: 1em 2em;
}